
*.tfstate
*.backup
*.tfstate
*.backup
StandardVM/V1.2/.terraform/plugins/windows_amd64/lock.json
StandardVM/V1.2/.terraform/plugins/windows_amd64/terraform-provider-azurerm_v1.18.0_x4.exe
StandardVM/V1.2/.terraform/plugins/windows_amd64/terraform-provider-random_v2.0.0_x4.exe
StandardVM/V1.1/terraform.tfstate
Project/jcb/main.tf
Project/jcb/variables.tf
Project/jcb/V1.1/variables.tf
Project/jcb/V1.1/main.tf
Project/jcb/V1.0/main.tf
Project/jcb/output.tf
Project/jcb/V1.2/main.tf
Project/jcb/V1.2/output.tf
Project/jcb/V1.2/variables.tf
Project/jcb/V1.3/main.tf
Project/jcb/V1.3/output.tf
Project/jcb/V1.3/variables.tf
Project/jcb/V1.4/main.tf
Project/jcb/V1.4/output.tf
Project/jcb/V1.4/variables.tf
Project/jcb/V1.5/variables.tf
Project/jcb/V1.5/output.tf
Project/jcb/V1.5/main.tf
